#Devemos instalar o frontend ubiquity gtk?
#YES para gtk, qualquer outra coisa para QT
GTK="YES"

#O diretório onde tudo será copiado e configurado.
WORK="/home/pahe"

#Patch ubiquity para oferecer suporte ao atualizador distroshare. A maioria das pessoas diria NO aqui.
DISTROSHARE_UPDATER="NO"

#Gerenciador de exibição
#Definir como GDM, MDM, KDM, LIGHTDM, LIGTHDM_UBUNTU_MATE, LIGHTDM_ZORIN ou LIGHTDM_KODIBUNTU.
#LIGHTDM é usado pela maioria das distros baseadas no Ubuntu. Modificações específicas no lightdm
#configuration é necessário para algumas distribuições.
#DM="LIGHTDM"
#DM="MDM"
#DM="KDM"
#DM="GDM"
#DM="LIGHTDM_UBUNTU_MATE"
#DM="LIGHTDM_ZORIN"
#DM="LIGHTDM_KODIBUNTU"
#DM="LIGHTDM_DEEPIN"
DM="LIGHTDM"

#Suporte EFI
EFI="NO"

#Uma versão específica do kernel para usar no Live CD. Isso pode ser útil
#se você estiver usando um kernel personalizado que não possui o módulo aufs compilado
#em.
#KERNEL_VERSION="3.13.0-24-generic"
KERNEL_VERSION=$(uname -r)

#Os parâmetros de inicialização do kernel do live cd. 
KERNEL_PARAMS=""

#Os parâmetros de inicialização do kernel que o ubiquity (o instalador) irá
#set em /etc/default/grub para a instalação. Muitas vezes, isso
#será igual a KERNEL_PARAMS.
UBIQUITY_KERNEL_PARAMS=""

#Pacotes extras para instalar na imagem. Os pacotes devem ser separados por um espaço.
EXTRA_PKGS="ubiquity-slideshow-ubuntu"

#URL das notas de versão que aparece após o instalador do Ubiquity ser iniciado.
RELEASE_NOTES_URL="https://www.simbios.dev.br/"
